<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="form col-md-6 offset-md-3">
            <form th:action="@{/login}" method="post" th:object="${loginRequest}" class="p-3">

                <h2 class="text-center">ログイン</h2>

                <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" th:field="*{email}" class="form-control" placeholder="メールアドレス" required>
                </div>

                <div class="form-group">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="パスワード" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="少なくとも 1 つの数字と 1 つの大文字と小文字、および少なくとも 8 文字以上を含める必要があります" required>
                </div>

                <div class="form-group">
                    <button type="submit" name="sign-in" class="btn btn-primary btn-block">ログイン</button>
                </div>

                <p class="text-center">
                    <a th:href="@{/register}">初めての方はこちらから</a>
                </p>

            </form>
        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js (for Bootstrap dropdowns, modals, etc.) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
